<div class="car bg-white mb-2 rounded sm:w-[calc(33.3333%_-_.5rem)] lg:w-[calc(25%_-_.5rem)]">
  <div>
    <%= image_tag(car.photo, class: "w-full h-60 object-cover") if car.photo.attached? %>
  </div>
  <div class="m-2 flex justify-between">
    <div class="text-gray-500 text-sm">
      <p><%= car.brand %></p>
      <p><%= car.version %></p>
      <p><%= car.model %></p>
    </div>
    <div class="flex flex-col justify-between">
      <span class="font-bold text-xl">$<%= car.price %></span>
      <div class="text-gray-500 text-sm">
        <%= link_to t('.show_more'), car_path(car), data: { turbo_frame: '_top' } %>
        <%= link_to t('common.delete'), car_path(car), data: { turbo_method: :delete, turbo_confirm: t('common.confirm') } if car.owner? %>
      </div>
    </div>
  </div>
</div>
