<%= turbo_frame_tag 'home' do %>
  <h1><%= t('.title')%></h1>
  <%= form_with url: cars_path, method: :get do |form|%>
    <%= form.text_field :query_text , placeholder: t('.query_text'), onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
    <%= form.number_field :min_price, placeholder: t('.min'), onChange: 'this.form.requestSubmit()', value: params[:min_price] %>
    <%= form.number_field :max_price, placeholder: t('.max'), onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
    <%= form.select :order_by,  options_for_select(Car::ORDER_BY.keys.map { |key| [t(".#{key}"), key]}, params[:order_by]), {}, { onChange: 'this.form.requestSubmit()'} %>
  <% end %>
  <%= link_to  t('.all'), cars_path %>
  <%= render  partial: 'category', collection: @categories %>
  <%= turbo_frame_tag "cars-#{@pagy.page}", class: 'cars' do %>
    <div class="cars">
      <%= render partial: "car", collection: @cars %>
      <%= turbo_frame_tag "cars-#{@pagy.next}", class: "cars", src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
    </div>
  <% end %>
<% end %>
