<h1><%= t('.title')%></h1>
<div class="show">
  <%= render  partial: 'cars/car_details', locals: { car: @car } %>
  <%= link_to t('common.edit'), edit_car_path(@car) if @car.owner? %>
</div>
<%=link_to  t('.view_more_cars', username: @car.user.username), user_path(@car.user.username) %>
<%= render partial: 'favorite', locals: { car: @car } %>
<%= turbo_stream_from @car %>
