<h1>Car </h1>
<div class="">
  <p><%= @car.registration %></p>
  <p><%= @car.brand %></p>
  <p><%= @car.version %></p>
  <p><%= @car.model %></p>
  <p><%= @car.price %></p>
  <p><%= @car.transmission %></p>
  <p><%= @car.traction %></p>
  <p><%= @car.fuel %></p>
</div>
